# Recursively ignore hidden files/folders (dotfiles), including .venv, .idea
.*
# Except for .gitignore
!/.gitignore

# Non-pytest testing/debugging files
/**/*test.py

# Bytecode compiled files
/**/__pycache__
